<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap forum</title>
    <!--Using a content delivery network - watch if they go down so does your site-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <link href="custom.css" rel="stylesheet" />
</head>
<body>
      <div class="masthead">
        <div class="container">
            <nav class="nav">
                <a class="nav-item active" href="#">Home</a>
                <a class="nav-item" href="#">About</a>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapse"
                           href="#collapse">
                           Admin Controls
                        </a>
                    </h4>
                </div>  
              <form>
                <input type="radio" name="delete" value="delete">Delete<br>
                <input type="radio" name="update" value="update">Update<br>
                  <input type="submit" value="Submit">
                </form>   
                <div style="padding:5px;" id="stateIndex" class="container" data-ng-controller="loadCatagories" data-ng-init="init()">
        <div ng-repeat="catagory in catagories" class="panel-group" id="Div1">
            <div class="panel panel-default" id="Div2">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target=""
                           href="#collapse{{catagory.id}}">
                            {{catagory.name}}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{catagory.id}}" class="panel-collapse collapse in">
                    <div class="panel-body" data-ng-controller="loadForums" data-ng-init="init(catagory)">
                        <div class="row" style="border-bottom: 1px solid #ddd;" ng-repeat="forum in forums">
                            <div class="col-md-8 topic-list">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1"><div class="avatar" style="background-image: url(https://treehouse-uploads.s3.amazonaws.com/production/profile-photos/732612/treehouse.jpg)"></div></div>
                                            <div class="col-xs-12 col-md-8">
                                                <!--<h5 onclick="setState('Topics')">{{forum.name}}</h5>-->
                                                <div style="padding: 5px;">
                                                    <a ng-click='go(forum)' href="#Topics">{{forum.name}}</a>
                                                    <p>{{forum.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 last-post">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-3"><div class="avatar" style="background-image: url(http://www.gravatar.com/avatar/{{forum.gravatar}}?s=40); "></div></div>
                                            <div class="col-xs-6 col-md-8">
                                                <p class="small">{{forum.topic_name}}</p>
                                                <p class="small">{{forum.author_name}}</p>
                                                <p class="small"> <font color="gray" >{{forum.post_date}} </font></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--Panel Ending -->
    </div><!--Container Ending -->
    <!------------------------->
    <!-- END Catagories Menu -->
    <!------------------------->       
                
   
<div class="footer">
        <p>Bulit by Team 6</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </div><!--Footer Ending -->

    <div id="newPostModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-header"> <h2>New Post </h2> </div>
                    <form class="" role="form">
                        <textarea name="" id="summernote" rows="10" class="form-control"></textarea>                          
                        <!-- dialog buttons -->
                        <button type="submit" class="btn btn-success">Post</button>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
      <script type="text/javascript">
          function loadCatagories($scope) {

              $scope.init = function () {
                  var query = "/RestService.svc/getCatagories";
                  $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                      .done(function (json) {
                          $scope.catagories = json;
                          $scope.$apply();
                      })
                      .fail(function () {
                          alert("Error");
                      });
              }
          }

    function newTopic($scope, $rootScope) {
            $scope.submit = function () {
            var query = "/RestService.svc/postTopic?session=" + session + "&name=" + user + "&topic=" + forumObj.id + "&title=" + $scope.topicTitle + "&desc=" + $scope.topicSummary + "&post=" + $scope.postText;
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                    .done(function (json) {
                        $rootScope.$broadcast('loadTopic', forumObj);
                        $('#newTopicModal').modal("hide");
                    })
                    .fail(function () {
                        alert("Error");
                    });
            }
        } 
        function Ctrl($scope) {
            $scope.delete = function () {
                var query = "/RestService.svc/Delete?";
                query += "&topic=" + $scope.topic;
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                .done(function (json) {
                    $scope.response = json;
                    $scope.$apply();
                })
                / fail(function () {
                    alert("It is not deleting");
                })
            }
        }

    </script>
</html>
