/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.nav-item:hover,
.nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.nav-right {
}


/* Active state gets a caret at the bottom */
.nav .active {
  color: #fff;
}
.nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}

.container p a {
    color:white;
}

.navbar-form {
    margin-top: -30px;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}

.td-right {
    float: right;
    margin-right:60px;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Footer
 */

.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}


.topic-list li {
list-style-type: none;
padding: 15px 0 0;
margin-bottom: 15px;
}


.avatar {
float: left;
background-color: #d4d9dd;
width: 50px;
height: 50px;
overflow: hidden;
border: 5px solid #edeff0;
}

.last-post li {
    list-style-type: none;
    padding: 15px 0 0;
    margin-bottom: 15px;
}

/*left of topics*/
.col-topic h5 {
margin-right: 5px;
float: left;
width: 100px;

}

.col-topic p {
 margin-right: 5px;
margin-top: -3px;
}

/*profile*/
.profile_content_main {
min-height: 75px;
line-height: 1.3;
margin-bottom: 20px;
padding: 15px;
border-radius: 4px;
}
.user_info_cell {
display: table-cell;
white-space: nowrap;
padding-right: 15px;
}


.ipsList_data {
    list-style: none;
    margin-left: -20px;
}

.fi {
    background-color: #f5f5f5;
    padding: 15px;
}