<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap forum</title>
    <!--Using a content delivery network - watch if they go down so does your site-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="summernote.css" rel="stylesheet" />
    <link href="custom.css" rel="stylesheet" />
</head>

<body data-ng-app>
    <div class="masthead">
        <div class="container">
            <nav class="nav">
                <a class="nav-item" href="#Index">Home</a>
                <a class="nav-item" href="#">About</a>
                <span id="loginRegister">
                    <p class="nav-item" data-toggle="modal" data-target="#loginModal"><a href="">Sign In</a></p>
                    <p class="nav-item" data-toggle="modal" data-target="#Reg"><a href="">Register</a></p>  
                </span>
                <span id="userLoggedIn" style="display:none" data-ng-controller="userLogged" data-ng-init="init()">
                    <p class="nav-item" data-toggle="modal" data-target=""><a href="#Profile">Welcome {{name}} </a></p>
                    <p class="nav-item" data-toggle="modal" onclick="logOut()" data-target=""><a href="">Logout</a></p>   
                </span>
               
                <form class="navbar-form navbar-right">
                    <!--<input type="text" class="form-control" placeholder="Search...">-->
                </form>
            </nav>
        </div>
    </div>
    <!--------------------->
    <!-- Catagories Menu -->
    <!--------------------->
    <div style="padding:5px;" id="stateIndex" class="container" data-ng-controller="loadCatagories" data-ng-init="init()">
        <div ng-repeat="catagory in catagories" class="panel-group" id="accordion">
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target=""
                           href="#collapse{{catagory.id}}">
                            {{catagory.name}}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{catagory.id}}" class="panel-collapse collapse in">
                    <div class="panel-body" data-ng-controller="loadForums" data-ng-init="init(catagory)">
                        <div class="row" style="border-bottom: 1px solid #ddd;" ng-repeat="forum in forums">
                            <div class="col-md-8 topic-list">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1"><div class="avatar" style="background-image: url(https://treehouse-uploads.s3.amazonaws.com/production/profile-photos/732612/treehouse.jpg)"></div></div>
                                            <div class="col-xs-12 col-md-8">
                                                <!--<h5 onclick="setState('Topics')">{{forum.name}}</h5>-->
                                                <div style="padding: 5px;">
                                                    <a ng-click='go(forum)' href="#Topics">{{forum.name}}</a>
                                                    <p>{{forum.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 last-post">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-3"><div class="avatar" style="background-image: url(http://www.gravatar.com/avatar/{{forum.gravatar}}?s=40); "></div></div>
                                            <div class="col-xs-6 col-md-8">
                                                <p>{{forum.topic_name}}</p>
                                                <p>by {{forum.author_name}}</p>
                                                <p>{{forum.post_date}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--Panel Ending -->
    </div><!--Container Ending -->
    <!------------------------->
    <!-- END Catagories Menu -->
    <!------------------------->

    <!----------------->
    <!-- Topics Menu -->
    <!----------------->
    <div class="container" id="stateTopics" style="display: none;" data-ng-controller="loadTopics" data-ng-init="init()">
        <div style="padding:10px;float:right;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newTopicModal">New Topic</button>
        </div>
        <div style ="margin-top:50px;"></div>
        <div class="" id="accordion" ng-repeat="topic in topics">
            <div class="" id="panel1">
                </div>
                <div id="collapse" class="panel-collapse collapse in">
                    <div class="panel-body"style="border: 1px solid #ddd;" >
                        <div class="row">
                            <div class="col-md-8 topic-list">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8">
                                                <a ng-click='go(topic)' href="#Posts">{{topic.title}}</a>
                                                <p>{{topic.description}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 last-post">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6 col-md-8 col-topic">
                                                <h5>Replies: {{topic.replies}}</h5>
                                                <p> {{topic.formattedDate}}</p>
                                                <h5>Views: {{topic.views}}</h5>
                                                <p>{{topic.starter_name}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div style="padding: 10px; float: right;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newTopicModal">New Topic</button>
        </div>
        </div> <!--Panel Ending -->
    </div><!--Container Ending -->
    <!--------------------->
    <!-- END Topics Menu -->
    <!--------------------->

    <!--------------------->
    <!-- New Topic Modal -->
    <!--------------------->
    <div id="newTopicModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-header"> <h3>New topic</h3> </div>
                    <form class="" role="form" data-ng-submit="submit()" data-ng-controller="newTopic">
                        <div class="modal-body">
                            <label for="topicTitle">Title</label>
                            <input name="" data-ng-model="topicTitle" id="topicTitle" class="form-control" />
                            <label for="topicTitle">Description</label>
                            <input name="" data-ng-model="topicSummary" id="topicSummary" class="form-control" />
                            <label for="topicTitle">Post Body</label>
                            <textarea name="" data-ng-model="postText" id="summernote" rows="10" class="form-control"></textarea>
                        </div>

                        <!-- dialog buttons -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Post</button>
                            <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!------------------------->
    <!-- End New Topic Modal -->
    <!------------------------->

    <!----------------->
    <!-- Posts Menu -->
    <!----------------->
    <div class="container" id="statePosts" style="display: none;" data-ng-controller="loadPosts" data-ng-init="init()">
        <div class="" id="accordion" ng-repeat="post in posts">
            <div class="" style="border: 1px solid #ddd;" id="panel1">
            </div>
            <div id="collapse" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 last-post">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8 col-topic">
                                            <p>Author: {{post.author_name}}</p>
                                            <p> {{post.formattedDate}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 topic-list">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <p>{{post.postBody}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="postForm" data-ng-controller="postToTopic" data-ng-submit="submit()">
            <textarea name="" id="summernote" rows="10" class="form-control" style="margin-bottom: 15px;" ng-model="text"></textarea>
            <!-- dialog buttons -->
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div> <!--Panel Ending -->
    </div><!--Container Ending -->
    <!--------------------->
    <!-- END Posts Menu -->
    <!--------------------->

    <!------------------>
    <!-- Profile Page -->
    <!------------------>
    <div style="padding:5px; display:none;" id="stateProfile" class="container" >
        <div class="row fi">
            <div class="col-md-4">
                <img data-src="Images/default_user_Image.png" class="img-thumbnail" alt="200x200" src="http://www.gravatar.com/avatar/410d9a4eb587da9029cb09236062f257?s=200" style="width: 200px; height: 200px;">
                <div style="padding-left: 40px; padding-top: 10px;"><span class="">Member</span></div>
            </div>
            <div class="col-md-4">
                <div class="profile_content_main">
                    <div class="user_info_cell">
                        <h1 class="">
                            <span class="">{{User}}</span>
                        </h1>
                        {{user.JoinDate}}<br>
                        <span class="label label-success">Online</span>
                        <span class="">Last Active Today, 08:31 PM</span>
                    </div>
                    <span class="" style="margin-bottom: 10px">
                        <img src="http://devhackz.com/public/style_images/maxxdark344build1/star_off.png" alt="-" class="rate_img"><img src="http://devhackz.com/public/style_images/maxxdark344build1/star_off.png" alt="-" class="rate_img"><img src="http://devhackz.com/public/style_images/maxxdark344build1/star_off.png" alt="-" class="rate_img"><img src="http://devhackz.com/public/style_images/maxxdark344build1/star_off.png" alt="-" class="rate_img"><img src="http://devhackz.com/public/style_images/maxxdark344build1/star_off.png" alt="-" class="rate_img"><span id="rating_text" class=""></span>
                    </span>
                </div>
                <ul class="ipsList_data">
                    <li class="">
                        <span class="row_title">Group</span>
                        <span class="row_data"><span style=" color: #8AFB17; font-family:arial black ;">Group</span></span>
                    </li>
                    <li class="">
                        <span class="row_title">Active Posts</span>
                        <span class="row_data badge">0</span>
                    </li>
                    <li class="">
                        <span class="row_title">Profile Views</span>
                        <span class="row_data badge">57</span>
                    </li>
                    <li>
                        <span class="row_title">Email</span>
                        <span class="row_data ">Email</span>
                    </li>
                    <li>
                        <span class="row_title">Country</span>
                        <span class="row_data ">Country</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!---------------------->
    <!-- END Profile Page -->
    <!---------------------->

    <!--Login Modal-->
    <div id="loginModal" class="modal fade"> 
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-header"><h2>Sign In</h2></div>
                    <form class="" data-ng-submit="submit()" role="form" data-ng-controller="login">
                        <div class="form-group">
                            <input type="text" data-ng-model="userName" placeholder="User Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" data-ng-model="password" placeholder="Password" class="form-control">
                        </div>
                        <!-- dialog buttons -->
                        <input type="submit" value="Login" id="login" class="btn btn-success"/>
                        <input type="submit" value="Cancel" id="cancel" class="btn btn-danger" data-dismiss="modal"/>

                    </form>
                    </div>
            </div> 
        </div>
    </div><!--End Login Modal-->

    <!--Register Modal-->
    <div id="Reg" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-header"> <h2>Registration Form</h2> </div>
                    <form class="" role="form" data-ng-controller="registerUser" data-ng-submit="submit()">
                        <div class="form-group">
                            <input type="text" placeholder="Username" class="form-control" ng-model="username">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control" ng-model="email">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" ng-model="password">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Re Enter Password" class="form-control">
                        </div>
                        <!-- dialog buttons -->
                        <button type="submit" class="btn btn-success">Register</button>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--End Register Modal-->


    <div class="footer">
        <p>Bulit by Team 6</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </div><!--Footer Ending -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="summernote.js"></script>
    <script>
        var app = angular.module('SPFApp', ['ngRoute', 'SPFControllers', 'SPFFilters']);

        location.hash = 'Index';
        states = ['Index', 'Topics', 'Posts', 'Profile'];

        var session;
        var user;
        var topicId;
        var topicObj;
        var forumObj;

        angular.module('SPFFilters', []).filter('FormatDate', function () {
            return function (input) {
                return input.replace("Date", "");
            };
        });

        $(document).ready(function () {
            //$('#postForm').summernote({ height: 300 });
        });

        $(window).bind('hashchange', function (event) {
            var hash = location.hash.replace('#', '');
            //var hash = location.hash;
            setState(hash);
        });

        function loadCatagories($scope) {

            $scope.init = function () {
                var query = "/RestService.svc/getCatagories";
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                    .done(function (json) {
                        $scope.catagories = json;
                        $scope.$apply();
                    })
                    .fail(function () {
                        alert("Error");
                    });
            }
        }
        function loadForums($scope, $rootScope) {

            $scope.init = function (catagory) {
                var query = "/RestService.svc/getforums?catId=" + catagory.id;
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                    .done(function (json) {
                        $scope.forums = json;
                        $scope.$apply();
                    })
                    .fail(function () {
                        alert("Error");
                    });
            }
            $scope.go = function (forum) {
            
                $rootScope.$broadcast('loadTopic', forum);
            }
        }
        function loadTopics($scope, $rootScope) {
            $rootScope.$on('loadTopic', function (stuff, forum) {
                forumObj = forum;
                var query = "/RestService.svc/getTopics?forum=" + forum.id;
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                    .done(function (json) {
                        $scope.topics = json;
                        $scope.$apply();
                    })
                    .fail(function () {
                        alert("Error");
                    });
            });
            $scope.go = function (topic) {

                $rootScope.$broadcast('loadPost', topic);
            }
        }
        function newTopic($scope, $rootScope) {
            $scope.submit = function () {
            var query = "/RestService.svc/postTopic?session=" + session + "&name=" + user + "&topic=" + forumObj.id + "&title=" + $scope.topicTitle + "&desc=" + $scope.topicSummary + "&post=" + $scope.postText;
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                    .done(function (json) {
                        $rootScope.$broadcast('loadTopic', forumObj);
                        $('#newTopicModal').modal("hide");
                    })
                    .fail(function () {
                        alert("Error");
                    });
            }
        }
        function loadPosts($scope, $rootScope) {
            $rootScope.$on('loadPost', function (stuff, topic) {
                var query = "/RestService.svc/getPosts?topic=" + topic.tid;
                topicId = topic.tid;
                topicObj = topic;
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                    .done(function (json) {
                        $scope.posts = json;
                        $scope.$apply();
                    })
                    .fail(function () {
                        alert("Error");
                    });
            });
        }
        function login($scope, $rootScope) {
            $scope.submit = function () {
                var query = "/RESTService.svc/verify?user=" + $scope.userName + "&password=" + $scope.password;
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                    .done(function (json) {
                        console.log(json);
                        if (json != 'Not Valid') {
                            user = $scope.userName;
                            session = json;
                            $('#loginModal').modal("hide");
                            $rootScope.$broadcast('userLoggedIn', $scope.userName);
                        }
                    })
                    .fail(function () {
                        alert("Error");
                    });
            }
        }
        function postToTopic($scope, $rootScope) {
            $scope.submit = function (topic) {
                var query = "/RESTService.svc/post?session=" + session + "&name=" + user + "&topic=" + topicId + "&post=" + $scope.text;
                console.log(query);
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                    .done(function (json) {
                        console.log(json);
                        $rootScope.$broadcast('loadPost', topicObj);
                        $scope.text = "";
                    })
                    .fail(function () {
                        alert("Error");
                    });
            }
        }
        function registerUser($scope, $rootScope) {
            $scope.submit = function () {
                var query = "/RESTService.svc/register?name=" + $scope.username + "&email=" + $scope.email + "&password=" + $scope.password;
                console.log(query);
                $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                    .done(function (json) {
                        console.log(json);
                        $('#Reg').modal("hide");
                    })
                    .fail(function () {
                        alert("Error");
                    });
            }
        }

        function logOut() {
            $('#userLoggedIn').hide();
            $('#loginRegister').show();

            user = null;
            session = null;

            var query = "/RESTService.svc/logout?session=" + session + "&name=" + user;
            console.log(query);
            $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
                .done(function (json) {
                    console.log(json);

                })
                .fail(function () {
                    alert("Error");
                });
        }

        function userLogged($scope, $rootScope) {
            $rootScope.$on('userLoggedIn', function (stuff, name) {
                $('#userLoggedIn').show();
                $('#loginRegister').hide();
                
                $scope.name = name;
                $scope.$apply();
            });
        }

        function hideAll() {
            states.forEach(function (entry) {
                $('#state' + entry).hide();
            });
        }

        function setState(state) {
            location.hash = state;

            hideAll();
            if ($.inArray(state, states)) {
                
                $('#state' + state).show();
            } else {
                $('#stateIndex').show();
            }
        }

    </script>

</body>
</html>



