USE [master]
GO
/****** Object:  Database [ist331]    Script Date: 4/30/2014 4:03:48 PM ******/
CREATE DATABASE [ist331]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ist331', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ist331.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ist331_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ist331_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ist331].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ist331]
GO
/****** Object:  User [ist331]    Script Date: 4/30/2014 4:03:48 PM ******/
CREATE USER [ist331] FOR LOGIN [ist331] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ist331]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ist331]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ist331]
GO
/****** Object:  Table [dbo].[catagories]    Script Date: 4/30/2014 4:03:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[catagories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY (id)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[forums]    Script Date: 4/30/2014 4:03:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[forums](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[topics] [int] NULL,
	[posts] [int] NULL,
	[name] [varchar](128) NOT NULL,
	[description] [text] NULL,
	[position] [int] NULL,
	[catagorieId] [int] NOT NULL,
PRIMARY KEY (id),
CONSTRAINT fk_Catagories FOREIGN KEY (catagorieId)
REFERENCES catagories(id)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[members]    Script Date: 4/30/2014 4:03:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[member_group_id] [int] NOT NULL,
	[email] [varchar](150) NOT NULL,
	[joined] [datetime] NOT NULL,
	[password_hash] [varchar](45) NOT NULL,
	[banned] [int] NOT NULL,
PRIMARY KEY (id) 
)
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[session]    Script Date: 4/30/2014 4:03:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[session](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[session] [varchar](50) NOT NULL,
	[member_id] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	PRIMARY KEY (id),
 CONSTRAINT fk_session_members FOREIGN KEY (member_id)
 REFERENCES members(id) 
)
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[topics]    Script Date: 4/30/2014 4:03:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[topics](
	[tid] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](250) NOT NULL,
	[state] [varchar](8) NULL,
	[starter_id] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[forum_id] [int] NOT NULL,
	[starter_name] [nchar](256) NULL,
	[views] [int] NOT NULL,
	[replies] [int] NOT NULL,
	[description] [varchar](50) NULL,
PRIMARY KEY (tid),
CONSTRAINT fk_topics_members FOREIGN KEY (starter_id)
REFERENCES members(id),
CONSTRAINT fk_topics_forumid FOREIGN KEY (forum_id)
REFERENCES forums(id)  
)
/****** Object:  Table [dbo].[posts]    Script Date: 4/30/2014 4:03:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[posts](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[author_id] [int] NOT NULL,
	[author_name] [varchar](255) NULL,
	[post_date] [datetime] NOT NULL,
	[post] [text] NULL,
	[topic_id] [int] NOT NULL,
PRIMARY KEY (pid),
CONSTRAINT fk_posts_authors FOREIGN KEY (author_id)
REFERENCES members(id),
CONSTRAINT fk_posts_topics FOREIGN KEY (topic_id)
REFERENCES topics(tid)
)

GO
SET ANSI_PADDING OFF
GO
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[catagories] ON 

INSERT [dbo].[catagories] ([id], [name]) VALUES (1, N'General')
INSERT [dbo].[catagories] ([id], [name]) VALUES (2, N'Off Topic')
SET IDENTITY_INSERT [dbo].[catagories] OFF
SET IDENTITY_INSERT [dbo].[forums] ON 

INSERT [dbo].[forums] ([id], [topics], [posts], [name], [description], [position], [catagorieId]) VALUES (1, NULL, NULL, N'General', N'General Stuff', 1, 1)
INSERT [dbo].[forums] ([id], [topics], [posts], [name], [description], [position], [catagorieId]) VALUES (2, NULL, NULL, N'Off Topic', N'Off Topic', 2, 1)
INSERT [dbo].[forums] ([id], [topics], [posts], [name], [description], [position], [catagorieId]) VALUES (3, NULL, NULL, N'Random 3rd Topic', N'Random 3rd Topic', 3, 1)
SET IDENTITY_INSERT [dbo].[forums] OFF
SET IDENTITY_INSERT [dbo].[members] ON 

INSERT [dbo].[members] ([id], [name], [member_group_id], [email], [joined], [password_hash], [banned]) VALUES (1, N'x4n4th', 1, N'lawl@lawl.com', CAST(0x0000A30300000000 AS DateTime), N'7110eda4d09e062aa5e4a390b0a572ac0d2c0220', 0)
INSERT [dbo].[members] ([id], [name], [member_group_id], [email], [joined], [password_hash], [banned]) VALUES (5, N'test', 0, N'asdasd', CAST(0x0000A31A012980CF AS DateTime), N'7110eda4d09e062aa5e4a390b0a572ac0d2c0220', 0)
INSERT [dbo].[members] ([id], [name], [member_group_id], [email], [joined], [password_hash], [banned]) VALUES (6, N'testing2', 0, N'asjldjaskd', CAST(0x0000A31A0124C2C4 AS DateTime), N'7110eda4d09e062aa5e4a390b0a572ac0d2c0220', 0)
SET IDENTITY_INSERT [dbo].[members] OFF
SET IDENTITY_INSERT [dbo].[posts] ON 

INSERT [dbo].[posts] ([pid], [author_id], [author_name], [post_date], [post], [topic_id]) VALUES (1, 3, N'x4n4th', CAST(0x0000A30C00000000 AS DateTime), N'Hello Welcome to the forums', 4)
INSERT [dbo].[posts] ([pid], [author_id], [author_name], [post_date], [post], [topic_id]) VALUES (2, 3, N'x4n4th', CAST(0x0000A30B00000000 AS DateTime), N'FIRST!', 4)
INSERT [dbo].[posts] ([pid], [author_id], [author_name], [post_date], [post], [topic_id]) VALUES (5, 3, N'x4n4th', CAST(0x0000A31000000000 AS DateTime), N'First!..dsad I i mean awesome', 4)
SET IDENTITY_INSERT [dbo].[posts] OFF
SET IDENTITY_INSERT [dbo].[session] ON 

INSERT [dbo].[session] ([id], [session], [member_id], [date]) VALUES (62, N'fe19db440bf7662f72c0a3b43bf4af5b4e0e9244', 5, CAST(0x0000A31A012A2000 AS DateTime))
INSERT [dbo].[session] ([id], [session], [member_id], [date]) VALUES (63, N'18e45605452513f5380e7a84e06faa7f38ce3cc5', 6, CAST(0x0000A31A0124ED7A AS DateTime))
INSERT [dbo].[session] ([id], [session], [member_id], [date]) VALUES (107, N'455d4d177eeb0cacd8a49bcb899dad70e1ce4ea6', 1, CAST(0x0000A31C00E59176 AS DateTime))
SET IDENTITY_INSERT [dbo].[session] OFF
SET IDENTITY_INSERT [dbo].[topics] ON 

INSERT [dbo].[topics] ([tid], [title], [state], [starter_id], [start_date], [forum_id], [starter_name], [views], [replies], [description]) VALUES (4, N'Welcome', N'open', 3, CAST(0x0000A30C00000000 AS DateTime), 1, N'x4n4th                                                                                                                                                                                                                                                          ', 129, 6, NULL)
INSERT [dbo].[topics] ([tid], [title], [state], [starter_id], [start_date], [forum_id], [starter_name], [views], [replies], [description]) VALUES (6, N'Interesting tidbits', N'open', 3, CAST(0x0000A30D00000000 AS DateTime), 1, N'x4n4th                                                                                                                                                                                                                                                          ', 42, 1, NULL)
INSERT [dbo].[topics] ([tid], [title], [state], [starter_id], [start_date], [forum_id], [starter_name], [views], [replies], [description]) VALUES (8, N'Hello', N'open', 3, CAST(0x0000A31400000000 AS DateTime), 1, N'x4n4th                                                                                                                                                                                                                                                          ', 14, 2, NULL)
SET IDENTITY_INSERT [dbo].[topics] OFF
ALTER TABLE [dbo].[forums] ADD  DEFAULT (NULL) FOR [topics]
GO
ALTER TABLE [dbo].[forums] ADD  DEFAULT (NULL) FOR [posts]
GO
ALTER TABLE [dbo].[forums] ADD  DEFAULT (NULL) FOR [position]
GO
ALTER TABLE [dbo].[members] ADD  DEFAULT ('0') FOR [banned]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT (NULL) FOR [author_name]
GO
ALTER TABLE [dbo].[topics] ADD  DEFAULT (NULL) FOR [state]
GO
ALTER TABLE [dbo].[topics] ADD  CONSTRAINT [DF_topics_views]  DEFAULT ((0)) FOR [views]
GO
ALTER TABLE [dbo].[topics] ADD  CONSTRAINT [DF_topics_replies]  DEFAULT ((0)) FOR [replies]
GO
USE [master]
GO
